@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        color: #000;
        transition: color 200ms ease-in-out;
    }

    .nav-link:hover {
        @apply text-emerald-600;
    }

    .bm-navbar {
        @apply shadow-2xl;
    }

    .bm-mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        padding: 0 1em;
    }

    .bm-mobile-nav > * {
        padding: 1em 0;
    }
}
